# Ignorar el archivo de base de datos
revista_tr_database.db

# Ignorar la carpeta /notebook y su contenido
/notebook/
/archivos_de_paso/
/config/

# Ignorar todos los directorios __pycache__ y su contenido
__pycache__/

# Ignorar archivos, excepto aquellos que coincidan con un patrón
*.txt

# Ignorar el archivo de variables
.env

# Archivo de VSCode
.vscode

*.egg-info/