# Ignorar el archivo de base de datos
revista_tr_database.db

# Ignorar la carpeta /notebook y su contenido, salvo la carpeta mdb_files_to_load
/notebook/*
!/notebook/.gitkeep
/config/
/mdb_files_to_load/*
!/mdb_files_to_load/.gitkeep

# Ignorar todos los directorios __pycache__ y su contenido
__pycache__/

# Ignorar archivos, excepto aquellos que coincidan con un patrón
*.txt

# Ignorar el archivo de variables
.env

# Archivo de VSCode
.vscode
.DS_Store

*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets